@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Noto+Sans+JP:wght@400;700&display=swap");

@mixin tb {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 768px) {
    @content;
  }
}

:root {
  --viewport: 1920;

  @media (max-width: 1200px) {
    --viewport: 1200;
  }

  @media (max-width: 768px) {
    --viewport: 768;
  }
}

@function pxtovw($num) {
  @return calc(1vw * $num / var(--viewport) * 100);
}

html {
  scroll-behavior: initial;
  width: 100%;
}

body {
  font-family: "noto-sans-cjk-jp", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  min-height: 100%;
  @include sp() {
    font-size: 14px;
  }
}
