@use "sass:math";

@mixin tb {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 640px) {
    @content;
  }
}

:root {
  --viewport: 1920;

  @media (max-width: 1280px) {
    --viewport: 1200;
  }

  @media (max-width: 640px) {
    --viewport: 640;
  }
}

@function pxtovw($num) {
  @return calc(1vw * $num / var(--viewport) * 100);
}

html {
  scroll-behavior: initial;
  width: 100%;
}

body {
  letter-spacing: 1.5px;
  min-height: 100%;
  @include sp() {
    font-size: 14px;
  }
}
