$poppins: "poppins", "noto-sans-cjk-jp", sans-serif;

@mixin u1300 {
  @media (max-width: (1300px)) {
    @content;
  }
}

@mixin tb {
  @media (max-width: (1200px)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: (768px)) {
    @content;
  }
}

html {
  scroll-behavior: initial;
  width: 100%;
}

body {
  font-family: "noto-sans-cjk-jp", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  min-height: 100%;
  @include sp() {
    font-size: 14px;
  }
}
