@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@mixin tb {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 768px) {
    @content;
  }
}

:root {
  --viewport: 1920;

  @media (max-width: 1280px) {
    --viewport: 1200;
  }

  @media (max-width: 768px) {
    --viewport: 768;
  }
}

@function pxtovw($num) {
  @return calc(1vw * $num / var(--viewport) * 100);
}

html {
  scroll-behavior: initial;
  width: 100%;
  font-size: 16px;
  @include sp() {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
}

body {
  min-height: 100%;
  font-family: "Poppins", "IBM-Plex-Sans-JP", sans-serif;
}

.mv-slider {
  height: 100vh;
  overflow: hidden;
  margin-inline: auto;

  > div {
    position: absolute;
  }
}
.mask-content {
  height: 100vh;
  overflow: hidden;
}

.mv-slide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &.current-slide {
    z-index: 1;
  }
  &.next-slide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    mask-image: linear-gradient(
      225deg,
      #000 0%,
      #000 100%,
      transparent 100%,
      transparent 0%
    ) !important;
  }
  mask-image: linear-gradient(
    225deg,
    #000 0%,
    #000 100%,
    transparent 100%,
    transparent 0%
  );
  mask-repeat: no-repeat;
  mask-position: 0 0;
  mask-size: auto 100%;
}

.add-animation {
  mask-image: linear-gradient(
    225deg,
    #000 0%,
    #000 30%,
    transparent 30%,
    transparent 0%
  );
}

@keyframes zoomUp {
  0% {
    mask-image: scale(1);
  }
  100% {
    mask-image: linear-gradient(
      225deg,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 0%,
      transparent 0%,
      transparent 100%
    ); /* 拡大率 */
  }
}

.mv-shade {
  position: absolute;
  z-index: 2;
  background: rgba(70, 70, 70, 0.8);
  width: 100%;
  height: 100vh;
  padding-left: 160px;
  padding-bottom: 200px;
  display: flex;
  justify-content: start;
  align-items: end;
  h1 {
    font-size: 72px;
    color: #fff;
    line-height: 1.5;
  }
  p {
    margin-top: 80px;
    font-size: 32px;
    color: #fff;
  }
}
