@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@mixin tb {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 768px) {
    @content;
  }
}

:root {
  --viewport: 1920;

  @media (max-width: 1280px) {
    --viewport: 1200;
  }

  @media (max-width: 768px) {
    --viewport: 768;
  }
}

@function pxtovw($num) {
  @return calc(1vw * $num / var(--viewport) * 100);
}

html {
  scroll-behavior: initial;
  width: 100%;
  font-size: 16px;
  @include sp() {
    font-size: 16px;
  }
}

body {
  min-height: 100%;
  font-family: "Poppins", "IBM-Plex-Sans-JP", sans-serif;
}

.sp {
  display: none;
  @include sp() {
    display: block;
  }
}

.tb {
  display: none;
  @include tb() {
    display: block;
  }
}

.pc-tb {
  @include tb() {
    display: none;
  }
}

.pc {
  @include sp() {
    display: none;
  }
}

.mv {
  height: 500vh;
  @include sp() {
    height: 300vh;
  }
  .mv-wrap {
    position: sticky;
    top: 100px;
  }
}

.mv-slider {
  height: calc(100vh - 100px);
  overflow: hidden;
  margin-inline: auto;
  @include sp() {
    height: calc(100vh - 100px);
  }
  > div {
    position: absolute;
  }
}
.mask-content {
  height: calc(100vh - 100px);
  overflow: hidden;
}

.mv-slide {
  width: 100%;
  overflow: hidden;
  .mask-content {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
    @include sp() {
      img {
        height: 100%;
        width: auto;
        max-width: auto;
      }
    }
  }
  &.current-slide {
    z-index: 1;
  }
  &.prev-slide {
    z-index: -1;
  }
  &.next-slide {
    z-index: 0;
    mask-image: linear-gradient(
      225deg,
      #000 0%,
      #000 100%,
      transparent 100%,
      transparent 0%
    ) !important;
  }
  mask-image: linear-gradient(
    225deg,
    #000 0%,
    #000 100%,
    transparent 100%,
    transparent 0%
  );
  mask-repeat: no-repeat;
  mask-position: 0 0;
  mask-size: auto 100%;
}

.add-animation {
  mask-image: linear-gradient(
    225deg,
    #000 0%,
    #000 30%,
    transparent 30%,
    transparent 0%
  );
}

@keyframes zoomUp {
  0% {
    mask-image: scale(1);
  }
  100% {
    mask-image: linear-gradient(
      225deg,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 0%,
      transparent 0%,
      transparent 100%
    ); /* 拡大率 */
  }
}

.mv-shade {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: calc(100vh - 100px);
  padding-left: 160px;
  padding-bottom: 200px;
  display: flex;
  justify-content: start;
  align-items: end;
  @include sp() {
    padding-left: 20px;
    padding-bottom: 0;
    align-items: center;
  }
  h1 {
    font-size: 72px;
    color: #fff;
    line-height: 1.5;
    @include sp() {
      font-size: 36px;
    }
  }
  p {
    margin-top: 80px;
    font-size: 32px;
    color: #fff;
    @include sp() {
      margin-top: 30px;
      font-size: 18px;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  @include sp() {
    padding: 14px 20px;
  }
  .logo {
    width: 235px;
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        &.contact {
          a {
            color: #fff;
            display: block;
            padding: 20px 30px;
            position: relative;
            overflow: hidden;
            border-radius: 50px;
            background: linear-gradient(90deg, #4bbc37 0%, #91e42c 100%);
            &::after {
              content: "";
              position: absolute;
              inset: 0;
              background: linear-gradient(90deg, #91e42c 0%, #4bbc37 100%);
              opacity: 0;
              transition: opacity 0.5s;
              z-index: 1;
            }
            &:hover::after {
              opacity: 1;
            }
            // ボタンのテキストなどはz-index:2で
            span {
              position: relative;
              z-index: 2;
            }
          }
        }
      }
    }
  }
}
.second-section {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 97px;
  z-index: 3;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  scrollbar-width: none;
  @include tb() {
    padding-top: 50px;
    top: 88px;
    height: calc(100vh - 88px);
  }
  > div {
    width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 100px;
    @include tb() {
      justify-content: center;
      padding: 0 20px;
      height: 100%;
    }
    div {
      color: #fff;
      @include tb() {
        padding-bottom: 40px;
      }
      &.text-wrap {
        @include tb() {
          display: grid;
          align-items: stretch;
          height: 100%;
        }
      }
      h1 {
        font-size: 48px;
        line-height: 1.5;
        @include tb() {
          font-size: 32px;
          margin-bottom: 40px;
        }
      }
      p {
        margin-top: 80px;
        line-height: 2.5;
        font-weight: 300;
        letter-spacing: -1px;
        @include tb() {
          font-size: 14px;
          margin-top: 0px;
          line-height: 2;
        }
      }
      a {
        margin-top: 80px;
        display: inline-block;
        padding: 20px 30px;
        gap: 10px;
        border-radius: 50px;
        border: 1px solid #fff;
        line-height: 1;
        @include tb() {
          text-align: center;
          width: 255px;
          margin: 50px auto 0;
          display: block;
        }
      }
    }
  }
}
.section-title {
  h2 {
    font-size: 82px;
    line-height: 1;
  }
  p {
    font-size: 20px;
    color: #4bbc37;
    font-weight: 600;
    margin-top: 30px;
  }
}
#service {
  position: relative;
  padding: 150px 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  .service-wrap {
    width: 100%;
    max-width: 1600px;
    gap: 200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .img {
      height: 70vh;
      width: calc(70vh * 0.75);
      position: relative;
      img {
        position: absolute;
        height: 100%;
        top: 0;
        opacity: 0;
        transition: all 0.8s;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  .message {
    margin: 80px 0;
    line-height: 1.5;
  }
  ul {
    width: 800px;
    li {
      opacity: 0.3;
      &.active {
        opacity: 1;
        transition: all 1s;
        .arrow {
          transform: translateX(0);
          opacity: 1;
        }
      }
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 30px 50px;
        border-left: 2px solid #4bbc37;
        line-height: 1;
        .category {
          display: flex;
          gap: 30px;
          .number {
            color: #4bbc37;
            font-size: 24px;
          }
          .text {
            font-size: 24px;
          }
        }
        .arrow {
          display: flex;
          align-items: center;
          transform: translateX(-50px);
          opacity: 0;
          transition: all 0.8s;
        }
      }
    }
  }
}
